app = "backend"
primary_region = "yyz"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[processes]
  app = "uvicorn FastAPI.app:app --host 0.0.0.0 --port 8080"

[env]
  PORT = "8080"